*{
    font-size: 1.5em;
}

:root{
    --THETADRAGSIZE: 15em;
    --SNOWBALLSIZE: 2em;
    --EXPONENTSIZE: 0.7em;
}

sup{
    font-size: var(--EXPONENTSIZE);
}
sub{
    font-size: var(--EXPONENTSIZE);
}


body{
    background-color: aqua;
}

#snowball{
    width: var(--SNOWBALLSIZE);
    height: var(--SNOWBALLSIZE);
    position: absolute;
    left: 5px;
    top: 1500px;
    border-radius: var(--SNOWBALLSIZE);
    background-color: white;
}

#theta-drag{
    width: var(--THETADRAGSIZE);
    height: var(--THETADRAGSIZE);
    border-radius: var(--THETADRAGSIZE);
    background-color: aquamarine;
    position: absolute;
    top: 500px;
}

#snowman{
    width: 211px;
    height: 244px;
    background-image: url('/range_equation/snowman.png');

}
